---
import Image from 'astro/components/Image.astro';
import logoLight from '../assets/images/logo-colour.png';
import logoDark from '../assets/images/logo-white.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logoLight} alt="logo" class="w-40 dark:hidden" />
  <Image src={logoDark} alt="logo" class="w-40 hidden dark:block" />
</span>
